/*css for example not required*/

body {
	font-family: sans-serif;
}

.targets > div, .draggables > div {
	padding: 20px;
	display: inline-block;
	margin: 10px;
	border-radius: 5px;
}

.targets > div {
	background-color: grey;
	padding: 25px;
	border:dashed 5px #555;
	color: #555;
	vertical-align: top;
}

.draggables > div {
	background-color: lightblue;
	cursor: default;
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

.rsize {
	width: inherit;

}

/*Optional classes to customise the dynamic states of element in drag and drop*/

.yourDraggingClass {	
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.5);
          box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.5);
    cursor: move !important;
	cursor: -webkit-grabbing !important;
	cursor: -moz-grabbing !important;

}

.yourDragOverClass {
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,255,1);
          box-shadow: 0px 0px 2px 2px rgba(0,0,255,1);
}

.yourCorrectClass {
	  -webkit-box-shadow: 0px 0px 2px 2px rgba(0,255,0,0.5);
          	box-shadow: 0px 0px 2px 2px rgba(0,255,0,0.5);
	border: 2px solid green;
}





