body {
	font-family: sans-serif;
}

table {
border-collapse:collapse;
}

td {
	border: 1px solid grey;
	padding: 10px;
}

td[colspan] {
	padding:0;
}

td[colspan]  td {
	padding:10px;
	border:none;
}

.target {
	width: 70px;
	background-color: lightgrey;
	height: 20px;
	padding:7px;
	border:2px dashed grey;
	border-radius:5px;
}

.draggable {
	background-color:white;
	display: inline-block;
	min-width:20px;
	padding:5px;
	border: 2px solid grey;
	border-radius:5px;	cursor: default;
	cursor: -webkit-grab;
	cursor: -moz-grab;
}


.statDragging {	
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.5);
          box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.5);
    cursor: move !important;
	cursor: -webkit-grabbing !important;
	cursor: -moz-grabbing !important;

}

.statOver {
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,255,1);
          box-shadow: 0px 0px 2px 2px rgba(0,0,255,1);
}